//COLORS
$white: #fff;
$black: #000;

$light-gray-1: #f7f7f7;
$light-gray-2: #eee;
$dark-gray-1: #777;
$dark-gray-2: #999;
$dark-gray-3: #333;

$primary-color: #2a52be;
$primary-color-light: #6a8dee;
$primary-color-dark: #162d6d;

$secondary-color: #2abe3e;
$secondary-color-light: #71e480;
$secondary-color-dark: #0f661b;

$tertiary-color: #be2a2a;
$tertiary-color-light: #e49292;
$tertiary-color-dark: #580f0f;

//FONTS
$font-name: 'Oswald', sans-serif;
$font-size-default: 2rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;