@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  50% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeftSlow {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    opacity: 0;
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes widen {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}